
body {
    font-family: 'Roboto', sans-serif;
    background-color: #d3d3d3; /* Color de fondo gris claro */
    color: #333; /* Color de texto estándar */
}

.header, .footer {
    background-color: #003366; /* Azul oscuro */
    color: #ffffff; /* Blanco para el contraste */
}

.btn-primary {
    background-color: #1a75ff; /* Azul claro */
    border: none;
}

.btn-primary:hover {
    background-color: #004080; /* Azul más oscuro para hover */
}
